################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POC_IntegratieProject_framework/.vs/POC_IntegratieProject_framework/v15/sqlite3
/.vs/POC_IntegratieProject_framework/v15
